{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
</head>
<body>
    <form action="index" method="POST">
        {% csrf_token %}
        <input name="name" placeholder="Enter Your Name"><br>
        <input name="roll" placeholder="Enter Your Roll"><br>
        <button name="btn" type="submit">Submit</button>
    </form>
    <h1>{{rst}}</h1>
    <a type="button" href="{% url 'msg' %}">Get Msg</a>
</body>
</html>